// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-gray-dark: #777;
$color-black: #000;

// FONT
$font-size-default: 1rem;

// GRID
$grid-width: 72rem;  
$gutterY: 3rem; 
$gutterX: 3rem;