.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 30rem;
  }
  
  &:not(:last-child) {
    margin-bottom: $gutterY;

    @include respond(tab-port) {
      margin-bottom: $gutterY-sm; 
    }
  }

  @include clr; 

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutterX;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutterY-sm;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc( (100% - #{$gutterX}) / 2); 
  }

  .col-1-of-3 {
    width: calc( (100% - (#{$gutterX} * 2)) / 3); 
  }

  .col-2-of-3 {
    width: calc( ((100% - (#{$gutterX} * 2)) / 3) * 2 + #{$gutterX});  
  }

  .col-1-of-4 {
    width: calc( (100% - (#{$gutterX} * 3)) / 4); 
  }

  .col-2-of-4 {
    width: calc( ((100% - (#{$gutterX} * 3)) / 4 * 2 + #{$gutterX})); 
  }

  .col-3-of-4 {
    width: calc( ((100% - (#{$gutterX} * 3)) / 4) * 3 + (#{$gutterX} * 2)); 
  }
}    